.industry-solutions-mosaic {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(84, 84, 84);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.industry-solutions-mosaic > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 600px;
}

.industry-solutions-mosaic > div > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 50px;
  width: 35%;
  min-width: 350px;
  background-color: #fff;
  box-sizing: border-box;
}

.industry-solutions-mosaic > div > div:last-child {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.industry-solutions-mosaic h2 {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: rgb(48, 46, 44);
  text-align: start;
  line-height: 50.4px;
  margin: 0 0 18px;
  max-width: 100%;
}

.industry-solutions-mosaic p {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(84, 84, 84);
  text-align: start;
  margin: 0 0 30px;
  max-width: 100%;
}

.industry-solutions-mosaic a {
  display: inline-block;
  background-color: rgb(249, 105, 21);
  color: #fff;
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.2s ease;
}

.industry-solutions-mosaic a:hover {
  background-color: rgb(220, 90, 15);
}

.industry-solutions-mosaic .mosaic-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 900px) {
  .industry-solutions-mosaic > div {
    flex-direction: column;
    min-height: auto;
  }

  .industry-solutions-mosaic > div > div:first-child {
    width: 100%;
    min-width: auto;
    padding: 40px 30px;
  }

  .industry-solutions-mosaic > div > div:last-child {
    width: 100%;
    min-height: 400px;
  }

  .industry-solutions-mosaic h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .industry-solutions-mosaic p {
    font-size: 18px;
    line-height: 28px;
  }
}