.service-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  font-family: STILLType, Verdana, Arial, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
}

.service-cards > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.333% - 20px);
  min-width: 280px;
  background-color: transparent;
}

.service-cards > div > div:first-child {
  order: 2;
  margin-top: 20px;
}

.service-cards > div > div:first-child img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: contain;
  display: block;
}

.service-cards > div > div:nth-child(2) {
  order: 1;
}

.service-cards > div > div:nth-child(2) h3 {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: rgb(48, 46, 44);
  line-height: 50.4px;
  margin: 0 0 18px 0;
  text-align: start;
}

.service-cards > div > div:nth-child(3) {
  order: 1;
}

.service-cards > div > div:nth-child(3) p {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(84, 84, 84);
  margin: 0;
  text-align: start;
}

@media (max-width: 1024px) {
  .service-cards > div {
    flex: 1 1 calc(50% - 15px);
  }
}

@media (max-width: 768px) {
  .service-cards {
    flex-direction: column;
    gap: 40px;
  }
  
  .service-cards > div {
    flex: 1 1 100%;
  }
  
  .service-cards > div > div:nth-child(2) h3 {
    font-size: 28px;
    line-height: 38px;
  }
  
  .service-cards > div > div:nth-child(3) p {
    font-size: 18px;
    line-height: 26px;
  }
}