.news-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Gotham-Medium, sans-serif;
}

.news-cards > div {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.news-cards .news-cards-image {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.news-cards .news-cards-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.news-cards .news-cards-title h2 {
  font-family: gotham-light, sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: rgb(97, 18, 107);
  line-height: 32.5px;
  margin: 0 0 10px 0;
  padding: 0;
}

.news-cards .news-cards-date {
  font-family: gotham-medium, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  line-height: 15.6px;
  margin-bottom: 15px;
}

.news-cards .news-cards-excerpt {
  font-family: gotham-medium, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  line-height: 15.6px;
  margin-bottom: 15px;
  flex-grow: 1;
}

.news-cards .news-cards-excerpt p {
  margin: 0;
}

.news-cards .news-cards-link a {
  font-family: gotham-light, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(97, 18, 107);
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  display: inline;
}

.news-cards .news-cards-link a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .news-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .news-cards {
    grid-template-columns: 1fr;
  }
}