.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  font-family: STILLType, Verdana, Arial, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
}

.product-cards > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.333% - 16px);
  min-width: 300px;
  background-color: #fff;
  border-radius: 0;
}

.product-cards .card-image {
  order: 2;
  margin-top: auto;
}

.product-cards .card-image img {
  width: 100%;
  height: auto;
  display: block;
  max-width: none;
}

.product-cards .card-title {
  order: 0;
  padding: 24px 24px 0 24px;
}

.product-cards .card-title h3 {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: rgb(48, 46, 44);
  line-height: 50.4px;
  margin: 0 0 18px 0;
  text-align: start;
}

.product-cards .card-description {
  order: 1;
  padding: 0 24px 24px 24px;
  flex-grow: 1;
}

.product-cards .card-description p {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(84, 84, 84);
  margin: 0;
  text-align: start;
}

@media (max-width: 992px) {
  .product-cards > div {
    flex: 1 1 calc(50% - 12px);
  }
}

@media (max-width: 600px) {
  .product-cards {
    flex-direction: column;
  }
  
  .product-cards > div {
    flex: 1 1 100%;
  }
}