.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding: 40px 0;
  font-family: STILLType, Verdana, Arial, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
}

.product-cards > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  width: 100%;
  max-width: 471px;
  flex: 1 1 300px;
}

.product-cards .card-image {
  width: 100%;
  order: 2;
}

.product-cards .card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.product-cards .card-title {
  order: 0;
  padding: 30px 30px 0 30px;
}

.product-cards .card-title h3 {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: rgb(48, 46, 44);
  line-height: 50.4px;
  margin: 0 0 18px 0;
  text-align: start;
}

.product-cards .card-description {
  order: 1;
  padding: 0 30px 30px 30px;
}

.product-cards .card-description p {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(84, 84, 84);
  margin: 0;
  text-align: start;
}

@media (max-width: 1024px) {
  .product-cards {
    gap: 20px;
    padding: 30px 20px;
  }
  
  .product-cards > div {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .product-cards {
    flex-direction: column;
    align-items: center;
  }
  
  .product-cards > div {
    max-width: 100%;
  }
  
  .product-cards .card-title h3 {
    font-size: 28px;
    line-height: 38px;
  }
  
  .product-cards .card-description p {
    font-size: 16px;
    line-height: 24px;
  }
}