.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  font-family: STILLType, Verdana, Arial, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
}

.product-cards > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.333% - 16px);
  min-width: 280px;
  max-width: 471.5px;
}

.product-cards > div > div:first-child {
  width: 100%;
  overflow: hidden;
  margin-bottom: 16px;
}

.product-cards > div > div:first-child img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.product-cards > div > div:nth-child(2) h3 {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(48, 46, 44);
  line-height: 30px;
  margin: 0 0 8px 0;
  text-align: start;
}

.product-cards > div > div:nth-child(3) p {
  font-family: STILLType, Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(84, 84, 84);
  margin: 0;
  text-align: start;
}

@media (max-width: 900px) {
  .product-cards {
    flex-direction: column;
    align-items: center;
  }
  
  .product-cards > div {
    flex: 1 1 100%;
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  .product-cards > div > div:nth-child(2) h3 {
    font-size: 18px;
    line-height: 26px;
  }
  
  .product-cards > div > div:nth-child(3) p {
    font-size: 16px;
    line-height: 24px;
  }
}